<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>About</title>
</head>
<body>
  <%- include('partials/navbar', {page: '/about'}) %>

  <div class="container mx-auto my-10">
    <div class="grid grid-cols-2 gap-4">
      <!-- About I like -->
      <div class="size-96 ml-48">
        <img src="https://images.unsplash.com/photo-1546339851-35c3ad161812?q=80&w=1274&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="I may like">
        <p class="text-center my-4"><strong>An image I like</strong></p>
      </div>

      <!-- About me -->
      <div class="about-me">
        <p><strong>About me</strong></p>
        <article class="text-wrap">
          <p>My name is Sheng-Lin Yang, I am a student in CPA of Seneca College. </p>
          <p>I am a full-stacker that makes this website looks good and responsive. </p>
          <p>I am currently in my third semester. </p>
          <p>I am now enjoying my life to be a back-end developer.</p>
          <p>In this semester, I am learning France that wants to be available work in every corner in Canada.</p>
          <p>In the future, I want to learn two or more languages</p>
          <p>Furthermore, I will watch some videos to relax myself in my free time or after the courses.</p>
          <p>I also like sports, which is tennis, running and bicycle.</p>
        </article>
      </div>
    </div>
  </div>
</body>
</html>