<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/main.css">
  <title>Lego Collection</title>
  <style>
    #card-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.9em;
      width: 90%;
      margin: auto;
    }
  </style>
</head>
<body>
  <nav class="navbar">
    <a href="/" class="text-lg font-bold">Lego Collection</a>
    <ul class="sub-navbar">
      <li class="sub-navbar-about">
        <a href="/about" class="active">About</a>
      </li>
      <li class="sub-navbar-dropbox">
        <details>
          <summary>Theme</summary>
          <ul class="p-2 bg-base-100 right-0 list">
            <li><a href="/lego/sets?theme=Lion Knights">Lion Knights</a></li>
            <li><a href="/lego/sets?theme=Classic Town">Classic Town</a></li>
            <li><a href="/lego/sets?theme=Technic">Technic</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>

  <div class="container mx-auto">
    <div class="blurb-lego-card">
      <article>
      <h1>Welcome to Explore the Lego Collection</h1>
        <p>Pick back your childlike innocence, let's discover the world of lego.</p>
        <button class="view-all-btn" onclick="location.href='/lego/sets'">VIEW</button>
      </article>
    </div>

    <div id="card-container">
      <!-- Lego 1 -->
      <div class="lego-card">
        <a href="https://rebrickable.com/sets/0011-3"><img class="lego-img" src="https://cdn.rebrickable.com/media/sets/0011-3.jpg" alt="Lion Knights"></a>
        <p><strong>Lion Knights</strong></p>
        <article>This is a lego set named Lion Knights.</article>
        <button class="view-btn" onclick="location.href='/lego/sets/0011-3'">VIEW</button>
      </div>

      <!-- Lego 2 -->
      <div class="lego-card">
        <a href="https://rebrickable.com/sets/0011-2"><img class="lego-img" src="https://cdn.rebrickable.com/media/sets/0011-2.jpg" alt="Classic Town"></a>
        <p><strong>Classic Town</strong></p>
        <article>This is a lego set named Classic Town</article>
        <button class="view-btn" onclick="location.href='/lego/sets/0011-2'">VIEW</button>
      </div>

      <!-- Lego 3 -->
      <div class="lego-card">
        <a href="https://rebrickable.com/sets/001-1"><img class="lego-img" src="https://cdn.rebrickable.com/media/sets/001-1.jpg" alt="Technic"></a>
        <p><strong>Technic</strong></p>
        <article>This is a lego set named Technic</article>
        <button class="view-btn" onclick="location.href='/lego/sets/001-1'">VIEW</button>
      </div>
    </div>
  </div>
</body>
</html>